:root {
  --sidenav-width: 20em;
  --background: #ffffff;
  --text: black;
  --highlight:#cfc3b2;

}
body {
  font-family: 'Monsterrat', sans-serif;
}

h1 {font-weight: bold;}
h2, .flex-projects li {
  font-family: 'Montserrat', sans-serif;;
  text-transform:uppercase;
  font-style:italic;}

/* HOMEPAGE IMAGE */
/* .bg { */
/*   position: fixed; */
/*   width: 100%; */
/*   height: 100%; */
/* } */
/* .bg img { */
/*   position: absolute; */
/*   top: 0; */
/*   left: 0; */
/*   right: 0; */
/*   bottom: 0; */
/*   margin: auto; */
/*   min-width: 50%; */
/*   min-height: 50%; */
/* } */


/* SIDE BAR */
.sidenav {
  height: 100%;
  width: var(--sidenav-width);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background);
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 2em;
  display:flex;
  z-index: 2;
}

.sidenav .items {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.flex-head{flex: 0.8;}
.flex-projects{flex: 3;}
.flex-projects li { padding-top: 10px;}
.sidenav ul {
  padding-top: 8em;
  list-style-type: none;
  padding-left: 0;}
.flex-info{padding-bottom: 20px;text-transform: uppercase;}
.social-icons {float: right;letter-spacing: 8px;}
.sidenav h1 {
  color: var(--highlight);
  font-size: 24px;
  font-style: italic;
  padding-bottom: 0;
  margin-bottom:0;
  z-index: 1;
}

.sidenav a {
  text-decoration: none;
  font-size: 16px;
  color: inherit;
}

.sidenav a:hover {
  color: var(--highlight);
}
.sidenav-button {display: none;}


/* MAIN PANEL */
.main {
  margin-left: var(--sidenav-width); /* Same as the width of the sidenav */
  padding: 30px 10em;
}
.text {padding-top: 6em;}
.text article{text-align: justify;text-justify: inter-word;font-weight: 300;}
.main h2 {font-size: 16px;font-weight: normal;}

.meta ul{
  list-style-type: none;
  padding-left:0;
}


/* INFO PAGE */
.info-headline, .info-title {
  font-size: 20px;
  font-weight: bold;
  color: var(--highlight);
}
.info-quote {font-style: italic;}
.info-quote-attrib {text-align: right;padding-bottom: 10em;}

.info-headline, .info-main, .info-quote {
  text-indent: 3em;
}
.info-contact {text-align: right;}
.info-contact a {text-decoration: none;color: black;}
.info-contact a:hover {color: var(--highlight);}



/* SMALLER SCREENS */
@media screen and (max-width: 700px) {
.sidenav-button {display: block;z-index:1;}
  .sidenav { /* it's a mobile sidebar, blocker and content */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* to cover the whole screen */
    height: 100vh;
    padding: 0;  /* to override the default padding */
    background: rgba(0,0,0, .5); /* half transparent background */
    display: none;
    z-index: 99999; /* to be on top of any other elements */
  }
  .sidenav.visible {
    display: block;
  }
  /*cover the whole screen and to detect user click on background */
  .sidenav .blocker {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  /* user content */
  .sidenav .items {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
    background: #FFF;
    height: 100%;
    width: 280px;
    left: -50%;   /* will be animated to left: 0, by animation */
    animation: slide 0.5s forwards;
  }
  @keyframes slide {
    100% { left: 0; }
  }
.sidebar .content{
  padding: 12px;
}
  .main {
    margin-left: 0;

  }
}
