{{ define "main" }}

<div class=main>
    <h2 class="info-title">{{ .Title }}</h2>
    <div class="info-headline">
        <p> {{ .Params.headline }}</p>
    </div>
    <br>
    <div class="info-main">
        {{ .Content }}
    </div>
    <br>
    <div class="info-quote">
        <p>"{{ .Params.quote }}"</p>
    </div>
    <br>
    <div class="info-quote-attrib">
        <p>/{{ .Params.quoteauthor }}/</p>
    </div>
    <hr>
    <div class="info-contact">
        <!-- <span style="float:left;"><a href="/cv/">CV</a></span> -->
        <a href="mailto:bolsakovalinda@gmail.com" class="fa fa-envelope">
            bolsakovalinda@gmail.com</a>
    </div>

</div>

{{ end }}
