{{ define "main" }}
<div class="main">
  <div class="art">
    <div class="slideshow-container">

      {{ if .Resources.Match "img/*"}}
        {{range sort (.Resources.Match "img/*") ".Name" "desc" }}
      <div class="mySlides fade">
        <img src="{{ (.Resize "1400x q100").Permalink }}" alt="project image" >
      </div>
        {{ end }}
      {{ else }}
      {{ end }}

      <!-- Next and previous buttons -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>

    <!-- The dots/circles -->
    <!-- <div style="text-align:center">
         {{ range $index, $page := .Resources.Match "img/*"}}
         <span class="dot" onclick="currentSlide({{ add $index 1 }})"></span>
         {{ end }}
         </div>
    -->
  </div>
  <!-- Project Text -->
  <div class="text">
    <article>

      <h2>{{ .Title }}</h2>
      <div class="meta">
        <ul>
          <li>{{ if .Params.materials }}{{ delimit .Params.materials ", " }}{{ else }}{{ end }}</li>
          <br/>
          <li><em>{{ .Params.location }}</em></li>
          <li><em>{{ .Params.time }}</em></li>
        </ul>
      </div>
      {{ .Content }}
    </article>
  </div>
</div>
  {{ end }}
